<!DOCTYPE html>

<head>
    <title>Bootstrapper</title>
</head>

<body class="bgimg">

<div class="jumbotron d-flex align-items-center min-vh-100" style="background: none;">
  <div class="container text-white">
    <h1 class="display-6">Rails 6 / Devise broilerplate </h1>
    <p class="lead">Featuring Estonian Smart-ID / Mobile-ID / ID-card</p>
    <button type="button" class="btn btn-primary btn-lg">Take me to authentication</button>
  </div>
</div>

    <%= yield %>
</body>

</html>