<!DOCTYPE html>

<head>
    <title>Bootstrapper</title>
</head>

<body class="bgimg">

<div class="jumbotron d-flex align-items-center min-vh-100" style="background: none;">
  <div class="container text-white">
    <h1 class="display-6">Rails 6 / Devise broilerplate </h1>
    <p class="lead">Featuring Estonian Smart-ID / Mobile-ID / ID-card</p>
    <%= link_to "Take me to #{current_user ? 'dashboard' : 'authentication'}", current_user ? documents_path : new_user_session_path, class: 'btn btn-primary btn-lg'%>
  </div>
</div>

    <%= yield %>
</body>

</html>